<div class="todo-list">
  <h4><%= section_title%> - <%=todos.completed.count%> / <%= todos.count%></h4>

 <% todos.each { |t| %>
    <div>

      <%= form_with(url: "/todos/#{t.id}", method: "put") do%>
        <input type="checkbox" class="status" name="completed" <%= t.completed ? "checked" : ""%> onclick=this.form.submit()>
      <% end%>

      <% if t.completed == true%>
        <s><p class="todo-list_title"><%= t.title %></p></s>
      <% else %>
        <p class="todo-list_title"><%= t.title %></p>
      <% end%>

      <% if show_due_date%>
        <p class="todo-list_duedate"><%= t.due_date.to_s%></p>
      <% end %>

      <%= form_with(url: "/delete/#{t.id}", method: "delete", id: "delete_form") do%>
        <i class='bx bxs-trash-alt'></i>
      <%end%>

    </div>
  <%}%>

</div>
