<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        .todo_container{
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            width: 15rem;
            
        }

        .todo_container div{
            margin-bottom: 1rem;
            background-color: skyblue;
            padding: 1rem;
        }

    </style>
</head>
<body>

    <h1>INDEX</h1>
    <h2> Welcome</h2>

    <form method="POST" action="/create">

        <%= token_tag %>

        <label for="title">Title</label>
        <input type="text" name="title" id="title">

        <label for="description">Description</label>
        <input type="text" name="description" id="description">

        <button type="submit">Create</button>

    </form>

    <div class="todo_container">

        <% @Todos.each {|t| %>
            <div>
                <h2><%= t.title %></h2>
                <p><%= t.description%></p>
                <a href="/update/<%= t.id%>"> Update</a>
                <a href="/delete/<%= t.id%>"> Delete</a>

            </div>
        <%}%>

    </div>


</body>
</html>